*{
    box-sizing:border-box;
}

section{
    flex:1;
    overflow:hidden;

}
.content-img{
    display:flex;
    transition: all ease 1s;   

}

.img{
    width:100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
}